<!-- <span id="notice"><%= notice %></span> -->
<section role='main'>

    <header class='user-header'>
        <% avatar = @user.avatar || 'http://www.ohmyhandmade.com/wp-content/uploads/2011/12/twitter-egg.jpg' %>
        <div class='avatar' style='background-image: url(<%= avatar %>)'></div>

        <!-- Add max width to this guy -->
        <section>
            <h2><%= @user.name %></h2>
            <h3>Level 10</h3>
        </section>

        <ul>
            <li>
                <h3><%= @points %></h3>
                <p>total points</p>
            </li>
            <li>
                <h3><%= @points_this_month %></h3>
                <p>this month</p>
            </li>
        </ul>

    </header>

    <section class='achievements'>
        <h3>Achievements</h3><a class='hide-achievements'>hide</a>
        <div class='slider'>
           <!--  <% @completed.each do |goal| %>
                <div style='background: #<%= goal.color %>' class='badge'>
                    <img class='logo' src='<%= goal.badge %>' />
                </div>
            <% end %>     -->

            <% badges = Dir.glob("app/assets/images/badges/*") %>
            <% for i in 1..8 do %>
                <% badge_url = badges.sample.gsub('app/assets/images/badges/', '') %>
                <% fg = "%06x" % (rand * 0xffffff) %>
                <% bg = "%06x" % (rand * 0xffffff) %>
            
                <div style='background: #<%= bg %>' class='badge'>
                    <img class='logo' src='/svg/<%= badge_url %>?color=<%= fg %>' />
                </div>

            <% end %>
        </div>
    </section>

    <!-- 
    <p>Large goals vs small(quick) ones?</p>
    <p>+ 5 points for completing</p>
    <p>+ 5 points per 'event' <- indicating ongoing (+ 5 points for everytime you do it)</p>
    <p>+ 5 points per 'week' <- impose a limit (Will let you click achieve for 12/7 - 12/14)</p>
    <p>Time limit? Before May 1st</p>

    <br />
    <p>Go to the gym twice per week</p>
    <p>Give 3 compliments</p>
    <p>Write 5 papers (divide progress by five? NLP?)</p> -->

    <section style='position: relative' class='current'>
        <%= render 'goals/quickform' %>
        <h2>My goals this month</h2>
        <h3><%= Time.now.strftime("%B %Y") %> (Day <%= Time.now().day %> of <%= Time.now().end_of_month.day%>)</h3>
        
        <%= link_to 'Show all months', current_user %> <!-- change this -->
        
        <br /><br />

        <ul class='current-goals'>
            <%= render :partial => 'goals/current_goal', :collection => @current_goals, :as => :goal %>
        </ul>

        <div style='display: none'>
            <%= form_for current_user, :url => add_goal_user_path(current_user), :html => { :method => :put} do |f| %>  
                <%= f.number_field :goal_id, :value => 0 %> 
                <%= f.submit 'submit' %>
            <% end %>
        </div>
    </section>

    <%= render 'events/details_form' %>

    <section class='bucket'>
        <h2>In my bucket</h2>
        <a class='selected'>Details</a> | <a>Badges</a>
        <ul>
            <%= render :partial => 'goals/goal', :collection => @bucket, :as => :goal %>
        </ul>
    </section>

    <section class='bucket-helper'>
        <h3>info</h3>
        <p>Stuff</p>
        <p>Stuff</p>
        <p>Stuff</p>
        <p>Stuff</p>
        <br /><br /><br /><br /><br />
        <center>
            <h3>Add goal to current month</h3>
            <span>(Drag to add)</span>
            <div class='placeholder-badge'>
                <div class='snapped-badge'>
                    <img class='logo' src='' />
                </div>
            </div>
        </center>
    </section>

    <br /><br />

</section>

<%= javascript_include_tag 'users_show' %>