<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @event.user %>
</p>

<p>
  <b>Goal:</b>
  <%= @event.goal %>
</p>

<p>
    <b>Post</b>
    <%= @event.post %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
