<a class='close'>close</a>
<h3><%= goal.name %></h3>
<p>Choose subgoals for this month</p>

<form accept-charset="UTF-8" action="/goals/<%= goal.id %>/set_subgoal" method="post" data-remote='true' data-type='json'>
    <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓">
        <input name="authenticity_token" type="hidden" value='<%= auth_token %>'>
    </div>
    
    
    <ul>
        <% $.each(goal.subgoals, function(i, subgoal){ %>
            <li>
                <input id="<%= subgoal.id %>" name="subgoals[]" type="checkbox" value="<%= subgoal.id %>" <% if (parseInt(subgoal.is_current) == 1){ %> checked ='' <% } %>>
                <label for="<%= subgoal.id %>"><%= subgoal.name %></label>
            </li>
        <% }) %>
    </ul>

    <input name="commit" type="submit" value="Submit">
</form>