<a id='<%= goal.id %>' href='/goals/<%= goal.id %>'>          
    <div style='background: #<%= goal.color %>' class='badge'>
        <img class='logo' src='<%= goal.badge %>' />
    </div>
</a>

<p class='points'>+<%= goal.points %></p>

<% if (goal.events_in_month > 0){ %>
    <p class='evented'><%= goal.events_in_month %></p>
<% } else { %>
    <p class='evented' style='display:none'>0</p>
<% } %>

<article>
    <header>
        <a href='/goals/<%= goal.id %>' class='goal-name' title='view goal details'><%= goal.name %></a>
        <a href='/goals/<%= goal.id %>/edit'>Edit</a>
    </header>

    <% if (goal.completed == 0 && goal.subgoals.length == 0){ %>
        <% if (goal.events_in_month == 0){ %>
            <input class='new_event' type="submit" value="I did it!">
        <% } else { %>
            <input class='new_event' type="submit" value="I did it again!">
        <% } %>
    <% } %>

    <div class='actions'>

        <% if (goal.completed == 1){ %>
            <span class='achievement-unlocked'>ACHIEVEMENT UNLOCKED</span>
            <a class='mark-incomplete'>jk I didn't complete this yet</a>
        <% } else { %>
            <% if (goal.subgoals.length > 0){ %>
                <a class='choose-subgoals'>Choose subgoals</a> |
            <% } else { %>
           
                <% if (goal.events_in_month > 0){ %>
                    <a class='mark-complete'>Mark as comleted</a> |
                <% } %>
            <% } %>
            <!-- % end %> -->
            <a class='giveup' >Give up</a>
        <% } %>
    </div>
</article>

<!-- Showing subgoals -->
<ul class='subgoals'></ul>
