<td><%= name %></td>
<td><%= created_at %></td>
<td><%= points %></td>
<td><%= description %></td>
<td><%= deadline %></td>
<td><%= has_deadline %></td>
<td><%= badge %></td>
<td><%= color %></td>
<td><%= owner_id %></td>
<td><%= parent_id %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>