<h1>New goal</h1>

<form id="new-goal" name="goal">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="created_at"> created_at:</label>
    <input type="text" name="created_at" id="created_at" value="<%= created_at %>" >
  </div>

  <div class="field">
    <label for="points"> points:</label>
    <input type="text" name="points" id="points" value="<%= points %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="deadline"> deadline:</label>
    <input type="text" name="deadline" id="deadline" value="<%= deadline %>" >
  </div>

  <div class="field">
    <label for="has_deadline"> has_deadline:</label>
    <input type="text" name="has_deadline" id="has_deadline" value="<%= has_deadline %>" >
  </div>

  <div class="field">
    <label for="badge"> badge:</label>
    <input type="text" name="badge" id="badge" value="<%= badge %>" >
  </div>

  <div class="field">
    <label for="color"> color:</label>
    <input type="text" name="color" id="color" value="<%= color %>" >
  </div>

  <div class="field">
    <label for="owner_id"> owner_id:</label>
    <input type="text" name="owner_id" id="owner_id" value="<%= owner_id %>" >
  </div>

  <div class="field">
    <label for="parent_id"> parent_id:</label>
    <input type="text" name="parent_id" id="parent_id" value="<%= parent_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Goal" />
  </div>

</form>

<a href="#/index">Back</a>