<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Created at:</b>
  <%= created_at %>
</p>

<p>
  <b>Points:</b>
  <%= points %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>Deadline:</b>
  <%= deadline %>
</p>

<p>
  <b>Has deadline:</b>
  <%= has_deadline %>
</p>

<p>
  <b>Badge:</b>
  <%= badge %>
</p>

<p>
  <b>Color:</b>
  <%= color %>
</p>

<p>
  <b>Owner:</b>
  <%= owner_id %>
</p>

<p>
  <b>Parent:</b>
  <%= parent_id %>
</p>


<a href="#/index">Back</a>