<% if goal.completed %>
    <li class='goal completed'>
<% else %>
    <li class='goal'>
<% end %>
<!-- 
        <div class='badge' style='background-image: url(http://www.resonantenergies.com/library/images/book_icon.png)'>
        </div> -->

        <!-- <img class='badge' src='/assets/badges/guitar.svg' /> -->
        <div class='badge overlay'></div>
        <embed class='badge' src='/assets/badges/guitar.svg' />
        <!-- <filter id="h200" x="0" y="0" width="1" height="1">
            <feColorMatrix type="hueRotate" values="200"/>
        </filter> -->
        <!-- <div class='badge' style='background-image: url("/assets/badges/guitar.svg")'></div> -->

        <p class='points'>+<%= goal.points %></p>

        <% if @events[goal.id] && @events[goal.id] > 1 %>
            <p class='evented'><%= @events[goal.id] %></p>
        <% end %> 
        
    <article>
        <header>
            <%= link_to goal.name, goal, :class => 'goal-name', :title => 'view goal details' %>
            <%= link_to 'Edit', edit_goal_path(goal) %>
        </header>
    
        <% if !goal.completed %>
            <%= render :partial => 'events/form', :locals => {:goal => goal, :again => @events[goal.id]} %>
        <% end %>

        <div class='actions'>
            <!-- Can't remove if already completed -->
            <% if goal.completed %>
                <!-- <span>completed <%= time_ago_in_words(goal.completed_at) %> ago</span> · -->
                <span class='achievement-unlocked'>ACHIEVEMENT UNLOCKED</span>
                <%= link_to "jk I didn't complete this yet", make_incomplete_goal_path(goal), method: :put %>
            <% else %>
                <%= link_to 'Complete', complete_goal_path(goal), method: :put %> |
                <%= link_to 'Give up', remove_goal_month_path(@month, :goal_id => goal.id), method: :put %>
            <% end %>
        </div>
    </article>
</li>