<% if goal.completed %>
    <li class='goal completed'>
<% else %>
    <li class='goal'>
<% end %>
        
        <% goal.color ||= 'fbcc91' %>
        <% goal.badge ||= 'star.svg?color=4d2d74' %>

        <div style='background: #<%= goal.color %>' class='badge'>
            <img class='logo' src='/svg/<%= goal.badge %>' />
        </div>

        <p class='points'>+<%= goal.points %></p>

        <% if @events[goal.id] && @events[goal.id] > 1 %>
            <p class='evented'><%= @events[goal.id] %></p>
        <% end %> 
        
    <article>
        <header>
            <%= link_to goal.name, goal, :class => 'goal-name', :title => 'view goal details' %>
            <%= link_to 'Edit', edit_goal_path(goal) %>
        </header>
    
        <% if !goal.completed %>
            <%= render :partial => 'events/form', :locals => {:goal => goal, :again => @events[goal.id]} %>
        <% end %>

        <div class='actions'>
            <!-- Can't remove if already completed -->
            <% if goal.completed %>
                <!-- <span>completed <%= time_ago_in_words(goal.completed_at) %> ago</span> · -->
                <span class='achievement-unlocked'>ACHIEVEMENT UNLOCKED</span>
                <%= link_to "jk I didn't complete this yet", make_incomplete_goal_path(goal), method: :put %>
            <% else %>
                <%= link_to 'Complete', complete_goal_path(goal), method: :put %> |
                <%= link_to 'Give up', remove_goal_month_path(@month, :goal_id => goal.id), method: :put %>
            <% end %>
        </div>
    </article>
</li>