<% if goal.completed == 1 %>
    <li class='goal completed'>
<% else %>
    <li class='goal'>
<% end %>
        <% if goal.parent_id == 0 %>

            <% goal.color ||= 'fbcc91' %>
            <% goal.badge ||= '/svg/star.svg?color=4d2d74' %>

            <div style='background: #<%= goal.color %>' class='badge'>
                <img class='logo' src='<%= goal.badge %>' />
            </div>

            <p class='points'>+<%= goal.points %></p>

            <% if @events_count[goal.id] && @events_count[goal.id] > 0 %>
                <p class='evented'><%= @events_count[goal.id] %></p>
            <% end %> 
        <% end %>

    <article>
        <header>
            <%= link_to goal.name, goal, :class => 'goal-name', :title => 'view goal details' %>
            <%= link_to 'Edit', edit_goal_path(goal) %>
        </header>
    
        <% if goal.subgoals.count == 0 && goal.completed == 0 %>
            <%= render :partial => 'events/form', :locals => {:goal => goal, :again => @events_count[goal.id]} %>
        <% end %>

        <div class='actions'>
            <!-- Can't remove if already completed -->
            <% if goal.completed == 1 %>
                <!-- <span>completed <%= time_ago_in_words(goal.completed_at) %> ago</span> · -->
                <span class='achievement-unlocked'>ACHIEVEMENT UNLOCKED</span>
                <%= link_to "jk I didn't complete this yet", make_incomplete_goal_path(goal), method: :put %>
            <% else %>
            <!-- Logic here -->
                <% if goal.subgoals.count > 0 %>
                    <%= link_to 'Choose subgoals', choose_subgoal_goal_path(goal) %> |
                <% else %>

                    <% if @events_count[goal.id] && @events_count[goal.id] > 0 %>
                        <%= link_to 'Mark as completed', complete_goal_path(goal), method: :put %> |
                    <% end %>

                <% end %>
                <%= link_to 'Give up', remove_goal_user_path(current_user, :goal_id => goal.id), method: :put %>
            <% end %>
        </div>
    </article>

    <!-- Showing subgoals -->
    <ul class='subgoals'>
        <%= render :partial => 'goals/subgoal', :collection => @subgoals[goal.id], :as => :goal %>
    </ul>
</li>