<li class='goal'>
    
    <div class='badge' style='background-image: url(http://www.resonantenergies.com/library/images/book_icon.png)'>
    </div>

    <% if goal.completed %>
        <div class='badge overlay'></div>
    <% end %>

    <% if @events[goal.id] %>
        <p class='completed'>+<%= @events[goal.id] * goal.points %></p>
    <% elsif goal.completed %>
        <p class='completed'>+<%= goal.points %></p>
    <% end %>

    <% if @events[goal.id] %>
        <p class='evented'><%= @events[goal.id] %></p>
    <% end %>
    
    <article>
        <header>
            <%= link_to goal.name, goal, :class => 'goal-name', :title => 'view goal details' %>
            <%= link_to 'Edit', edit_goal_path(goal) %>
        </header>

        <% if !goal.completed %>
            <%= render :partial => 'events/form', :locals => {:goal => goal} %>
        <% end %>

        <div class='actions'>
            <!-- Can't remove if already completed -->
            <% if goal.completed %>
                <span>completed <%= time_ago_in_words(goal.completed_at) %> ago</span> · 
                <%= link_to "jk I didn't complete this yet", make_incomplete_goal_path(goal), method: :put %>
            <% else %>
                <%= link_to 'Complete', complete_goal_path(goal), method: :put %> |
                <!-- <p class='completed-placeholder'>complete</p> -->
                <%= link_to 'Give up', remove_goal_month_path(@month, :goal_id => goal.id), method: :put %>
            <% end %>

        </div>
    </article>
</li>