<%= form_for @goal, :html => {:class => 'quick_goal_form'} do |f| %>
    <% if @goal.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

            <ul>
            <% @goal.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    
    <%= f.hidden_field :parent_id %>

    <div>
        <%= f.text_field :name, :placeholder => 'Name of Goal' %>
    </div>

    <div class='inline-field right'>
        <%= f.label :points %>
        <%= f.text_field :points, :value => 10, :maxlength => 4 %>
    </div>

    <% if @goal.parent_id == 0 %>
    
        <div style='clear: both'>
            <%= f.label :description, 'Description' %>
            <%= f.text_area :description, :placeholder => 'Enter a description', :rows => 3 %>
        </div>

        <div style='margin-top: 10px'>
            <%= f.label :badge, 'Choose your badge', :style => 'float: left; margin-right: 36px; margin-top: 36px' %>

            <!-- THIS PART IS DIFFERENT -->
            <% fg_color = @goal.badge[-6..-1] %>
            <% badge_id = @goal.badge[0..-14] %>
            
            <div style='background: #<%= @goal.color %>' class='badge badge-preview'>
                <img class='logo' src='<%= @goal.badge %>' />
            </div>
            
            <%= f.hidden_field :badge, :value => @goal.badge, :badge_color => fg_color, :badge_id => badge_id %>
            <%= f.hidden_field :color, :value => @goal.color %>

            <div class='cp-icon fg-color' style='background: #<%= fg_color %>'></div>
            <div class='cp-icon bg-color' style='background: #<%= @goal.color %>'></div>
            
        </div>
        
        <div class='color-picker'>
            <div id="colourPicker"></div>
        </div>

        <ul class='badge-select'>
            <% badges = Dir.glob("app/assets/images/badges/*") %>
            <% for b in badges do %>
                <% url = b.sub('app/assets/images/badges/', '') %>
                <% if url == 'star.svg' %>
                    <li class='selected'>
                <% else %>
                    <li>
                <% end %>
                    <img src='/svg/<%= url %>' />
                </li>
            <% end %>
        </ul>
        
        <div style='clear:both'></div>


        <div class='has-deadline'>
            <br />
            <%= f.check_box :has_deadline %>
            <%= f.label :has_deadline, 'Add a deadline', :class => 'checkbox-label' %>
        </div>

        <div class='deadline-form'>
            <%= f.label :deadline, 'Deadline' %> 
            <div>
                <%= f.date_select :deadline, :placeholder => 'Enter a description' %>
            </div>
        </div>
    
    <% end %>

    <br />
    <br />
    <%= f.submit :disable_with => "creating.." %>


<% end %>
