<li class='goal'>
    <% if !goal.parent_id %>
        <div id='<%= goal.id %>' class='badge draggable' style='background-image: url(http://www.resonantenergies.com/library/images/book_icon.png)'></div>
    <% else %>
        <div class='nested-arrow'></div>
    <% end %>
    <article>
        <header>
            <%= link_to goal.name, goal, :class => 'goal-name', :title => 'view goal details' %>
            <%= link_to 'Edit', edit_goal_path(goal) %>
        </header>

        <div class='actions'>
            +<%= goal.points %>pts
            <%= link_to 'Add sub goal', new_goal_path(:parent_id => goal.id) %> |
            <%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %>
            
            <% if false %>
                <% if goal.completed %>
                    Completed at: <%= goal.completed_at.to_date %>
                    <%= link_to 'Uncomplete', make_incomplete_goal_path(goal), method: :put %>
                <% else %>
                    <%= link_to 'Complete', complete_goal_path(goal), method: :put %>
                    <%= render :partial => 'events/form', :locals => {:goal => goal} %>
                <% end %>
            <% end %>

            <span> · created <%= time_ago_in_words(goal.created_at) %> ago</span>

        </div>
    </article>
</li>