<%= form_for @goal, :html => {:class => 'quick_goal_form'} do |f| %>
    <% if @goal.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

            <ul>
            <% @goal.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <%= f.hidden_field :parent_id %>

    <div>
        <%= f.label :name, 'Add a goal', :class => 'goal_name' %><br />
        <%= f.text_field :name, :placeholder => 'New Goal' %>
    </div>

    <%= f.submit :disable_with => "creating.." %>

    <div class='inline-field right'>
        <%= f.label :points %>
        <%= f.text_field :points, :value => 10, :maxlength => 4 %>
    </div>


    <a class='more-options'>+ more options</a>

    <section class='extra-options'>
        
        <div>
            <%= f.label :description, 'Description' %>
            <%= f.text_area :description, :placeholder => 'Enter a description', :rows => 3 %>
        </div>

        <div style='margin-top: 10px'>
            <%= f.label :badge, 'Choose your badge', :style => 'float: left; margin-right: 10px' %>

            <% color = 'fbcc91' %>
            <% badge_url = 'star.svg?color=4d2d74' %>
            
            <div style='background: #<%= color %>' class='badge badge-preview'>
                <img class='logo' src='/svg/<%= badge_url %>' />
            </div>
            <%= f.hidden_field :badge, :value => '/svg/star.svg?color=4d2d74', :badge_color => '4d2d74', :badge_id => '/svg/star.svg' %>
            <%= f.label :color %>
            <%= f.hidden_field :color, :value => 'fbcc91' %>
            <p>Color</p>
        </div>

        <ul class='badge-select'>
            <% badges = Dir.glob("app/assets/images/badges/*") %>
            <% for b in badges do %>
                <% url = b.sub('app/assets/images/badges/', '') %>
                <% if url == 'star.svg' %>
                    <li class='selected'>
                <% else %>
                    <li>
                <% end %>
                    <img src='/svg/<%= url %>' />
                </li>
            <% end %>
        </ul>
        
        <div style='clear:both'></div>

        <div class='has-deadline'>
            <br />
            <%= f.check_box :has_deadline %>
            <%= f.label :has_deadline, 'Add a deadline', :class => 'checkbox-label' %>
        </div>

        <div class='deadline-form'>
            <%= f.label :deadline, 'Deadline' %> 
            <div>
                <%= f.date_select :deadline, :placeholder => 'Enter a description' %>
            </div>
        </div>

        <br />
        <%= f.fields_for current_user do |ff| %>
            <div>
                <%= ff.check_box :auto_add %>
                <%= ff.label :auto_add, 'Automatically add to month', :class => 'checkbox-label' %> 
            </div>
        <% end %>

    </section>

<% end %>
