<section role='main'>

    <!-- <p id="notice"><%= notice %></p> -->

    <section class='goal'>

        <div class='goal-wrap'>
            <% @goal.color ||= 'fbcc91' %>
            <% @goal.badge ||= '/svg/star.svg?color=4d2d74' %>

            <div id='<%= @goal.id %>' style='background: #<%= @goal.color %>' class='badge'>
                <img class='logo' src='<%= @goal.badge %>' />
            </div>

            <section>
                <header>
                    <h3><%= @goal.name %></h2>
                    <%= link_to 'Edit', edit_goal_path(@goal) %>
                     路 
                    <%= link_to 'Destroy', @goal, method: :delete, data: { confirm: 'Are you sure?' } %>
                </header>

                <div class='actions'>
                    <span><%= @goal.points %> points</span>
                    <% if @goal.completed == 1 %>
                        <span> 路 completed</span>
                    <% else %>
                        <span> 路 in progress</span>
                    <% end %>
                     <!-- vs in bucket -->

                    <span> 路 created by <%= link_to @goal.owner.name, @goal.owner %> <%= time_ago_in_words(@goal.created_at) %> ago</span>
                </div>
            </section>

            <ul>
                <li>
                    <h3>10</h3>
                    <p>completed</p>
                </li>
                <li>
                    <h3>3</h3>
                    <p>this month</p>
                </li>
            </ul>

        </div>

        <!-- <p>Total points: 100 (30 this month)</p>
                <p>Completed 10 times (3 times this month)</p> -->


        <!-- (Fix subgoal first) Work out logic for adding and removing things (for everything) -->
        

        <!-- Achievements + badge view -->

        <!-- Badges + color picker -->

        <!-- Info -->
        
        <!-- Sharing and friends -->

        <% if @goal.description.length > 0 %>
            <!-- <h4>Description</h4> -->
            <p><%= @goal.description %></p>
        <% else %>
            <p style='color: #CCC'>No description</p>
        <% end %>

        <% if @goal.has_deadline && @goal.deadline %>
            <h4>Deadline 
                <span style='font-weight: normal'><%= @goal.deadline.strftime('%e %b %y') %></span>
            </h4>
        <% end %>

        <% if @goal.parent_id == 0 %>
            <%= render 'goals/subgoalform' %>

            <ul class='subgoals'>
                <%= render :partial => 'subgoal', :collection => @subgoals, :as => :goal %>
            </ul>
        <% else %>
            <p>This is a subgoal of <%= link_to Goal.find(@goal.parent_id).name, Goal.find(@goal.parent_id) %></p>
        <% end %>
        
        <br />

        <h3>Shared with</h3>
        <p style='color:#CCC'>No one</p>
        <a>Invite your friends to join you</a>

        <%= form_tag users_path, :method => 'get' do %>
            <p>
                <%= text_field_tag :search, params[:search], :placeholder => "your friend's name", :style => 'width: 200px' %>
                <%= submit_tag "Search", :name => nil %>
            </p>
        <% end %>


        <!-- <p>Maybe show other people's progress</p> -->

    </section>
    
    <br />

    <section class='events'>
        <h3>Timeline</h3>
        <p> <!-- change to ol -->
            <a class='selected'>All</a>
            <% [Time.now].each do |m| %>
                <span> | </span>
                <a><%= m.strftime('%b') %></a>
            <% end %>
        </p>

        <!-- Add DECEMBER between transistion of months -->
        <ul>
            <li class='event special'>
                <div class='day'>
                    <%= @goal.created_at.day %>
                </div>
                <div>
                    <h3>CREATED</h3>
                    <p><%= @goal.created_at.strftime('%l:%M %p - %B %e, %Y') %></p>
                </div>
            </li>

            <%= render :partial => 'events/event', :collection => @events, :as => :event %>

            <% if @goal.completed == 1 %>
                <li class='event special'>
                    <div class='day'>
                        <%= @goal.created_at.day %>
                    </div>
                    <div>
                        <h3>ACHIEVEMENT UNLOCKED</h3>
                        <p><%= @goal.completed_at.strftime('%l:%M %p - %B %e, %Y') %></p>
                    </div>
                    
                    <div id='<%= @goal.id %>' style='background: #<%= @goal.color %>' class='badge draggable'>
                        <img class='logo' src='<%= @goal.badge %>' />
                    </div>
                </li>
            <% end %>
        </ul>

    </section>

    <%= link_to 'Back', :back %>

</section>

<%= javascript_include_tag 'goals_show' %>