<section role='main'>

    <!-- <p id="notice"><%= notice %></p> -->

    <section class='goal show'>

        <div class='goal-wrap'>
            <% @goal.color ||= 'fbcc91' %>
            <% @goal.badge ||= '/svg/star.svg?color=4d2d74' %>

            <div id='<%= @goal.id %>' style='background: #<%= @goal.color %>' class='badge'>
                <img class='logo' src='<%= @goal.badge %>' />
            </div>

            <section>
                <header>
                    <h3><%= @goal.name %></h2>
                    <%= link_to 'Edit', edit_goal_path(@goal) %>
                     · 
                    <%= link_to 'Destroy', @goal, method: :delete, data: { confirm: 'Are you sure?' } %>
                </header>

                <div class='actions'>
                    <span><%= @goal.points %> points</span>
                    <% if @goal.completed == 1 %>
                        <span> · completed</span>
                    <% elsif @goal.is_current == 1 %>
                        <span> · in progress</span>
                    <% else %>
                        <span> · in bucket</span>
                    <% end %>

                    <span> · created by <%= link_to @goal.owner.name, @goal.owner %> <%= time_ago_in_words(@goal.created_at) %> ago</span>
                </div>
            </section>

            <ul>
                <li>
                    <h3><%= @completed_total %></h3>
                    <p>completed</p>
                </li>
                <li>
                    <h3><%= @completed_this_month %></h3>
                    <p>this month</p>
                </li>
            </ul>

        </div>

        <!-- <p>Total points: 100 (30 this month)</p>
                <p>Completed 10 times (3 times this month)</p> -->

        <!-- Achievements + badge view -->

        <!-- Info -->

        <% if @goal.description.length > 0 %>
            <!-- <h4>Description</h4> -->
            <p><%= @goal.description %></p>
        <% else %>
            <p style='color: #CCC'>No description</p>
        <% end %>

        <% if @goal.has_deadline && @goal.deadline %>
            <h4>Deadline 
                <span style='font-weight: normal'><%= @goal.deadline.strftime('%e %b %y') %></span>
            </h4>
        <% end %>

        <% if @goal.parent_id == 0 %>
            <%= render 'goals/subgoalform' %>

            <ul class='subgoals'>
                <%= render :partial => 'subgoal', :collection => @subgoals, :as => :goal %>
            </ul>
        <% else %>
            <p>This is a subgoal of <%= link_to Goal.find(@goal.parent_id).name, Goal.find(@goal.parent_id) %></p>
        <% end %>
        
        <br />

        <h3 style='margin-bottom: 5px;'>Shared with</h3>
        <% if @shared.length + @goal.invited_users.length > 0 %>
            <div style='overflow:auto; margin-bottom: 10px;'>
                <% @shared.each do |user| %>
                    <% avatar = user.avatar || 'http://www.ohmyhandmade.com/wp-content/uploads/2011/12/twitter-egg.jpg' %>
                    <div class='avatar mini' style='background-image: url(<%= avatar %>)'></div>
                <% end %>

                <% @goal.invited_users.each do |user| %>            
                    <% avatar = user.avatar || 'http://www.ohmyhandmade.com/wp-content/uploads/2011/12/twitter-egg.jpg' %>
                    <div class='avatar mini' style='float:left; background-image: url(<%= avatar %>)'>
                        <p>Invited</p>
                    </div>
                <% end %>
            </div>

        <% else %>
            <p style='color:#CCC'>No one</p>
        <% end %>

        <a>Invite your friends to join you</a>

        <div class='search'>
            <%= text_field_tag :search, params[:search], :class => 'search_users', :placeholder => "your friend's name" %>
            
            <ul id='search_results'></ul>
            
            <%= form_tag invite_goal_path(@goal), :method => :put, :class => 'invite_form' do %>
                <%= hidden_field_tag :user_id %>
            <% end %>

        </div>

        <!-- <p>Maybe show other people's progress</p> -->

    </section>
    
    <br />

    <section class='events'>
        <h3>Timeline</h3>
        <p> <!-- change to ol -->
            <a class='selected'>All</a>
            <% [Time.now].each do |m| %>
                <span> | </span>
                <a><%= m.strftime('%b') %></a>
            <% end %>
        </p>

        <!-- Add DECEMBER between transistion of months -->
        <ul>
            <li class='event special'>
                <div class='day'>
                    <%= @goal.created_at.day %>
                </div>
                <div>
                    <h3>CREATED</h3>
                    <p><%= @goal.created_at.strftime('%l:%M %p - %B %e, %Y') %></p>
                </div>
            </li>

            <%= render :partial => 'events/event', :collection => @events, :as => :event %>

            <% if @goal.completed == 1 %>
                <li class='event special'>
                    <div class='day'>
                        <%= @goal.created_at.day %>
                    </div>
                    <div>
                        <h3>ACHIEVEMENT UNLOCKED</h3>
                        <p><%= @goal.completed_at.strftime('%l:%M %p - %B %e, %Y') %></p>
                    </div>
                    
                    <div id='<%= @goal.id %>' style='background: #<%= @goal.color %>' class='badge draggable'>
                        <img class='logo' src='<%= @goal.badge %>' />
                    </div>
                </li>
            <% end %>
        </ul>

    </section>

    <%= render 'events/details_form' %>

    <%= link_to 'Back', :back %>

</section>

<%= javascript_include_tag 'goals_show' %>
<%= javascript_include_tag 'event_form' %>