<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @goal.name %>
</p>

<p>
  <b>User:</b>
  <%= @goal.user %>
</p>

<p>
  <b>Completed:</b>
  <%= @goal.completed %>
</p>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
