<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Bucketlist</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <header class='header' role='banner'>
            <section>
                <a class='title' href='/users/<%= current_user.id %>'><h1>My Goal this Year</h1></a>
                <nav role='navigation'>
                    <ul>
                        <% if !current_user %>
                            <li><%= link_to "Sign in with facebook", "/auth/facebook" %></li>  
                        <% else %>
                            <li><%= link_to current_user.name, user_path(:id => current_user.id) %></li>
                            <li> | </li>
                            <li><%= link_to 'Edit', edit_user_path(current_user) %></li>
                            <li> | </li>
                            <li><%= link_to "Sign out", "/signout" %></li>
                        <% end %>
                    </ul>
                </nav>
            </section>
        </header>
        
        <div class='container'>
            <%= yield %>
        </div>

        <footer class='footer'>
            <nav role='navigation'>
                <ul>
                    <li><p>Some footer stuff</p></li>
                    <li><p>About this site</p></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
